<div class=" main container ">
    <div class=" row secciones ">
        <div class="col-8 c1">
            <div class=" s1 card ">
                <div >
                    <h3 class="card-title text-center">Seleccione las tarjetas</h3>
                    <div class="responsive-table d-flex justify-content-center">
                        <table class="">
                            <tbody>
                                <tr>
                                    <td ><input type="button" id="0" class="btn " #b1 value="" (click)="flip(0)"></td>
                                    <td ><input type="button" id="1" class="btn " #b2 value="" (click)="flip(1)"></td>
                                    <td ><input type="button" id="2" class="btn " #b3 value=""(click)="flip(2)"></td>
                                    <td ><input type="button" id="3" class="btn " #b4 value="" (click)="flip(3)"></td>
                                </tr>
                                <tr>
                                    <td ><input type="button" id="4" class="btn " #b5 value="" (click)="flip(4)"></td>
                                    <td ><input type="button" id="5" class="btn " #b6 value="" (click)="flip(5)"></td>
                                    <td ><input type="button" id="6" class="btn " #b7 value="" (click)="flip(6)"></td>
                                    <td ><input type="button" id="7" class="btn " #b8 value="" (click)="flip(7)"></td>
                                </tr>
                                <tr>
                                    <td ><input type="button" id="8" class="btn "  #b9 value="" (click)="flip(8)"></td>
                                    <td ><input type="button" id="9" class="btn "  #b10 value="" (click)="flip(9)"></td>
                                    <td ><input type="button" id="10" class="btn " #b11 value="" (click)="flip(10)"></td>
                                    <td ><input type="button" id="11" class="btn " #b12 value="" (click)="flip(11)"></td>
                                </tr>
                                <tr>
                                    <td ><input type="button" id="12" class="btn " #b13 value="" (click)="flip(12)"></td>
                                    <td ><input type="button" id="13" class="btn " #b14 value="" (click)="flip(13)"></td>
                                    <td ><input type="button" id="14" class="btn " #b15 value="" (click)="flip(14)"></td>
                                    <td ><input type="button" id="15" class="btn " #b16 value="" (click)="flip(15)"></td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>                      
                </div>
            </div>
        </div>
        <div class="col-4 c2 ">
            <div class=" s2 container-card ">
                <div class=" my-card">
                    <div class=" card text-center mc1">
                        <div class="card-body">
                            <p class="card-title">HOLA</p>
                        </div>
                    </div>
                    <div class=" card text-center mc2">
                        <div class="card-body">
                            <h3 class="card-title">Cantidad de movimientos: {{mov}}</h3>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Tiempo restante: {{tempo}}</h3>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Aciertos: {{acerts}}</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>